//Variables
/*@import './variables/colors.scss';
@import './variables/breakpoints.scss';
@import './variables/fontSizes.scss';
@import './variables/margins.scss';
@import './variables/paddings.scss';*/

//@import './component-styles/navbar.scss';

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-family-base: 'Cera Pro',
sans-serif;
$font-family-text: 'Courier New',
Courier,
monospace;


$primary-color: #ffffff;
$secondary-color: #e5e5e5;
$tertiary-color: #fca311;
$quaternary-color: #14213d;
$quinary-color: #000000;


$error-color: #e63946;
$success-color: #0089FF;
$warning-color: #fca311;
$info-color: #007BE9;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #e5e5e5;
$gray-line: #D7D7DA;
$text-color: #293241;
$background-color: #f0f2f5;



$border-radius: 4px;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem; //16px
$font-size-lg: 1.125rem; //18px
$font-size-xl: 1.25rem; //20px
$font-size-2xl: 1.5rem; //24px
$font-size-3xl: 1.875rem; //28px
$font-size-4xl: 2.25rem; //36px
$font-size-5xl: 3rem; //48px
$font-size-6xl: 4rem;

$margin-xs: 0.25rem;
$margin-sm: 0.5rem;
$margin-base: 1rem;
$margin-lg: 1.5rem;
$margin-xl: 2rem;
$margin-2xl: 3rem;
$margin-3xl: 4rem;
$margin-4xl: 5rem;
$margin-5xl: 6rem;
$margin-6xl: 7rem;

$padding-xs: 0.25rem;
$padding-sm: 0.5rem;
$padding-base: 1rem;
$padding-lg: 1.5rem;
$padding-xl: 2rem;
$padding-2xl: 3rem;
$padding-3xl: 4rem;
$padding-4xl: 5rem;
$padding-5xl: 6rem;
$padding-6xl: 7rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//Navbar styles
.navbar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: $font-family-text;

  background: $quaternary-color;
  color: $tertiary-color;
  font-weight: 400;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  @media (min-width: $breakpoint-md) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .navbar__title {
    margin: auto;
    font-size: $font-size-2xl;
    padding: $padding-base $padding-lg;
    text-decoration: none;
    font-weight: 600;
    color: $tertiary-color;
  }

  .navbar__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    //padding: $padding-base $padding-lg;

    max-width: 400px;
    margin: 0 auto;
  }

  .navbar__item {

    //padding: $padding-base $padding-lg;
    text-decoration: none;
    font-size: $font-size-base;
    color: $secondary-color;
    //font-weight: 300;
    //transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .navbar__item:hover {
    color: $tertiary-color;
  }

  .navbar__item:focus {
    color: $tertiary-color;
  }

}


//Form styles

.form-container {
  width: auto;
  max-width: 500px;
  height: auto;
  margin: $margin-xl auto;
  padding: 2rem;
  border-radius: $border-radius;
  background-color: $white-color;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


.container {
  margin: $margin-base auto;
  //margin-top: 5rem;
  padding: 3rem;
  border-radius: $border-radius;

  h1 {
    font-size: 2rem;
    color: $quinary-color;
    //margin-bottom: 2rem;
  }

  p {
    //font-size: 1.25rem;
    color: $text-color;
    margin-bottom: 2rem;
  }

  .form-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }

  label,
  input {
    color: $text-color;
  }

  label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  input {
    border: 2px solid $gray-line;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  textarea {
    border: 2px solid $gray-line;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    height: 10rem;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .tellimuse-andmed {
    min-height: 60px;
  }

  button {
    color: $primary-color;
    width: 100%;
    font-size: 1.4rem;
    background-color: $quaternary-color;
    border-radius: $border-radius;
    border: 1px solid $gray-line;
    cursor: pointer;
    padding: 0.4rem 1.2rem;
    margin-top: 0.5rem;

    &:hover {
      //background: $tertiary-color;
      color: $secondary-color;
    }
  }

  .input-error {
    border-color: $error-color;
  }



  .error {
    color: $error-color;
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .disabled-btn {
    cursor: not-allowed;
    background: $secondary-color;

    &:hover {
      background: $secondary-color;
    }
  }



  @media screen and (min-width: $breakpoint-md) {
    .form-grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;

    }

    .form-row {
      width: 100%;
    }
  }

}

//main page
.main-page-container {
  display: grid;
  grid-template-columns: 1fr;



  @media screen and (min-width: $breakpoint-md) {
    grid-template-columns: 1fr 1fr;

    max-width: 1200px;
    margin: 0 auto;
  }

}


//hero

.hero-container {
  //background-color: $tertiary-color;
  color: $quinary-color;
  //text-shadow: $primary-color 2px 0 10px;
  padding: 3rem;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  //margin-bottom: 3rem;
  background-image: linear-gradient(to right, #fca21100, #fca21135), url('../img/soorik.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: $font-family-text;
  width: 100vw;
  //height: 80vh;
  margin: auto;

  @media screen and (min-width: $breakpoint-md) {

    max-width: 480px;
    max-height: 640px;
  }

}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: $font-family-text;

  // background-color: rgba(255, 255, 255, 0.9);
  //padding: 0.5rem;
  // border-radius: $border-radius;

  //animation-duration: 3s;
  //animation-name: slidein;
}

.hero-container-text {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  border-radius: $border-radius;
  font-family: $font-family-text;


  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    background-color: rgba(255, 255, 255, 0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.hero-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  //background-color: rgba(255, 255, 255, 0.9);
  //padding: 0.5rem;
  //border-radius: $border-radius;

  // animation-duration: 5s;
  //animation-name: slidein-text;
}


@keyframes slidein-text {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    background-color: rgba(255, 255, 255, 0.1);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.9);
  }
}

//Footer
.footer-container {
  background-color: $quaternary-color;
  color: $tertiary-color;
  padding: $padding-base;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: $margin-xl;
  font-family: $font-family-base;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);


  .footer-content-item-b {
    font-size: $font-size-xl;
    align-self: end;
  }

  .footer-content-item-c {
    height: 30px;
  }

  .footer-content-item-d {
    height: 30px;
    align-self: end;
    font-size: $font-size-base;
  }

  .footer-content-item-e {
    height: 30px;
    align-self: start;
  }

  p {
    font-size: $font-size-sm;
    font-weight: 400;
    font-family: $font-family-base;

    a {
      color: $tertiary-color;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0 5rem;
    max-width: 1200px;
    margin: auto;
    margin-top: $margin-3xl;
    margin-bottom: $margin-xl;

    .footer-content-item-a {
      grid-column: 4/ 5;
      grid-row: 2 / 4;
      justify-self: start;
    }

    .footer-content-item-b {
      grid-column: 3/ 4;
      grid-row: 1/ 2;
      justify-self: end;
      font-size: $font-size-xl;

      //border: 1px solid red;
    }

    .footer-content-item-c {
      grid-column: 3/ 4;
      grid-row: 2 /3;
      justify-self: end;
      align-self: start;
      //border: 1px solid red;
    }

    .footer-content-item-d {
      grid-column: 3/ 4;
      grid-row: 3/ 4;
      justify-self: end;

      // border: 1px solid red;
    }

    .footer-content-item-e {
      grid-column: 3/ 4;
      grid-row: 4 / 5;
      justify-self: end;
      // border: 1px solid red;
    }



  }
}