/*$background: #fff;f0f2f5
$text-black: #000;
$text-white: #fff;
$gray-line:#D7D7DA;
$primary: #007BE9;
$secondary: #1F3A76;
$tertiary: #0089FF;
$error-color: #e63946;
$text-color: #293241;*/

$background: #f0f2f5;
$text-black: #000;
$text-white: #fff;
$gray-line:#D7D7DA;
$primary: #007BE9;
$secondary: #1F3A76;
$tertiary: #0089FF;
$error-color: #e63946;
$text-color: #293241;